// 2024-04-20 Dmitrii Fediuk https://upwork.com/fl/mage2pro
// 1) "Improve breadcrumbs": https://github.com/cabinetsbay/site/issues/139
// 2) "Refactor `app/design/frontend/Cabinetsbay/cabinetsbay_default/web/css/source/_extend.less`":
// https://github.com/cabinetsbay/site/issues/119
.breadcrumbs {
	border-bottom: 1px solid #689aa5;
	border-top: 1px solid #689aa5;
	box-sizing: border-box;
	margin: 9em auto 1.4em;
	max-width: 1114px;
	padding: 1em;
	width: 100%;
	@media screen and (max-width: 768px) {border-top: none;}
	@media screen and (max-width: 680px) {display: none;}
}