// 2024-04-24 Dmitrii Fediuk https://upwork.com/fl/mage2pro
// "Refactor `app/design/frontend/Cabinetsbay/cabinetsbay_default/web/css/source/_extend.less`":
// https://github.com/cabinetsbay/site/issues/119
h1.page-title {font-weight: 300;}
.cms-home.page-title-wrapper {display: none;}
.cms-page-view .page-wrapper .page-main .page-title {margin-bottom: .5em !important;}
.category-view.page-title {
	font-size: 2em;
	font-weight: bold;
	display: none;
	margin-bottom: 1em;
	& > sub {
		display: block;
		font-weight: normal;
		font-size: .8em;
		bottom: -.4em;
	}
}
.category-view {
	& > .category-tab {
		& > .content {
			@media screen and (min-width: 681px) {
				& > .page-title {
					display: block;
				}
			}
		}
	}
}
@media screen and (max-width: 680px) {
	.category-view > .page-title {
		display: block;
		font-size: 2em;
		text-align: center;
		font-weight: normal;
	}
}
.customer-account-login, .customer-account-forgotpassword, .customer-account-create, body.account {
	& .page-title-wrapper {
		border-bottom: 1px solid #689aa5;
		border-top: 1px solid #689aa5;
		& > h1 {
			margin: .31em 0;
			font-size: 2em;
			text-transform: uppercase;
		}
	}
}