// 2024-04-14 Dmitrii Fediuk https://upwork.com/fl/mage2pro
// "Refactor `app/design/frontend/Cabinetsbay/cabinetsbay_default/web/css/source/_extend.less`":
// https://github.com/cabinetsbay/site/issues/119
// 2024-04-20 "Improve frontend titles": https://github.com/cabinetsbay/site/issues/138
h1.page-title {font-weight: 300;}
.cms-page-view h1.page-title {margin-bottom: .5em;}
.product-info-main h1 {
	font-weight: bold;
	font-size: 1.7em;
	margin-bottom: 0 !important;
}
.customer-account-login, .customer-account-forgotpassword, .customer-account-create, body.account {
	.page-title-wrapper {
		border-bottom: 1px solid #689aa5;
		border-top: 1px solid #689aa5;
		> h1 {
			font-size: 2em;
			margin: .31em 0;
			text-transform: uppercase;
		}
	}
}
@import 'page-title/_category-view.less';