# 2023-11-21 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/readme.md
!/app/code/**/*
!/app/design/frontend/Cabinetsbay/**/*
!/app/etc/config.php
/dev
# 2024-04-05
# '«Mismatched anonymous define() module» on loading `cdn1.affirm.com/products/affirmjs/master/dist/ldclient.min.js`'
# https://github.com/cabinetsbay/site/issues/128
!/lib/web/requirejs/require.js
# 2024-03-24 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "Product images are not shown on the frontend on my workstation":
# https://github.com/cabinetsbay/catalog/issues/12
# 2) "How to adapt `pub/get.php` to Windows in Magento ≥ 2.4.2?": https://mage2.pro/t/6415
!/pub/get.php
# 2023-11-25 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "How to fix intereceptors generation on `bin/magento setup:di:compile` in Magento ≥ 2.2 in Windows?":
# https://mage2.pro/t/4702
!/setup/src/Magento/Setup/Module/Di/Code/Reader/ClassesScanner.php
/update/
/vendor/aws/aws-crt-php
/vendor/magento/framework/Test
# 2023-11-25 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "How to fix catalog images in Magento ≥ 2.3.5 in Windows?" https://mage2.pro/t/6177
!/vendor/magento/framework/Image/Adapter/Gd2.php
# 2023-11-25 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "How to fix «file_put_contents(generated/metadata/primary|global|plugin-list.php):
# failed to open stream: No such file or directory
# in lib\internal\Magento\Framework\Interception\PluginListGenerator.php on line 414» in Magento 2.4-develop in Windows?"
# https://mage2.pro/t/6178
!/vendor/magento/framework/Interception/PluginListGenerator.php
# 2024-08-09 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "Install the «ACSD-47578» security patch" https://github.com/cabinetsbay/site/issues/154
!/vendor/magento/framework/Filter/Template/FilteringDepthMeter.php
# 2023-11-25 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "How to fix the «Invalid template file» / «require_js.phtml» failure for 2.3 ≤ Magento < 2.4.5 in Windows?"
# https://mage2.pro/t/5774
# 2024-09-08
# 1) "Port the modification of `vendor/magento/framework/View/Element/Template/File/Validator.php`
# from Magento 2.4.4 to 2.4.7-p2": https://github.com/cabinetsbay/site/issues/169
# 2) "How to fix the «Invalid template file» / «require_js.phtml» failure for Magento ≥ 2.4.5 in Windows?":
# https://mage2.pro/t/6339
!/vendor/magento/framework/View/Element/Template/File/Validator.php
# 2024-03-24 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "Product images are not shown on the frontend on my workstation": https://github.com/cabinetsbay/catalog/issues/12
# 2) "How to adapt `Magento\Catalog\Model\View\Asset\Image::getUrl()` to Windows in Magento ≥ 2.4.2?": https://mage2.pro/t/6411
!/vendor/magento/module-catalog/Model/View/Asset/Image.php
# 2023-12-31 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# «The CMS page with the "0" ID doesn't exist»: https://github.com/cabinetsbay/site/issues/49
!/vendor/magento/module-cms/Model/Page/DataProvider.php
# 2024-01-01 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "«Environment emulation nesting is not allowed» on `/affirm/payment/confirm/`": https://github.com/cabinetsbay/site/issues/12
# 2) "How did I fix «Environment emulation nesting is not allowed»
# on sending invoice / shipment / creditmemo emails in 2.4.4 ≤ Magento < 2.4.7-beta2?": https://mage2.pro/t/6392
!/vendor/magento/module-sales/Model/Order/Email/Sender/CreditmemoSender.php
!/vendor/magento/module-sales/Model/Order/Email/Sender/InvoiceSender.php
!/vendor/magento/module-sales/Model/Order/Email/Sender/ShipmentSender.php
# 2023-12-10 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) «strtotime() expects parameter 1 to be string, null given
# in vendor/magento/module-security/Model/AdminSessionInfo.php:136»: https://github.com/cabinetsbay/site/issues/27
# 2) "How did I fix «strtotime() expects parameter 1 to be string, null given
# in vendor/magento/module-security/Model/AdminSessionInfo.php:136»?": https://mage2.pro/t/6387
!/vendor/magento/module-security/Model/AdminSessionInfo.php
/vendor/magento/magento2-base
/vendor/magento/magento2-functional-testing-framework
/vendor/tubalmartin
# 2023-07-22
# Today I noticed that `git add . && git commit -a -m refactoring && git push`
# started to commit subfolders which are git repositories (for an unknown reason).
/_my
/vendor/cabinetsbay
/vendor/mage2pro