// 2024-04-20 Dmitrii Fediuk https://upwork.com/fl/mage2pro
// 1) "Improve frontend titles": https://github.com/cabinetsbay/site/issues/138
// 2) "Add the current category level as a CSS class to `<body>`": https://github.com/cabinetsbay/core/issues/5
body.cb-category-level-3 {
	h1.page-title {
		@media screen and (min-width: 681px) {margin-bottom: 1em;}
	}
	// 2024-04-20
	// "Move `<sub>` out of `<h1>` on the frontend category pages": https://github.com/cabinetsbay/site/issues/141
	sub.cb-title {
		bottom: -.4em;
		display: block;
		font-size: .8em;
		font-weight: normal;
		// 2024-04-15 Dmitrii Fediuk https://upwork.com/fl/mage2pro
		// "Improve frontend category pages": https://github.com/cabinetsbay/site/issues/131
		@media screen and (max-width: 680px) {font-size: .6em;}
	}
}