<?xml version='1.0'?>
<!-- 2024-05-23 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Refactor the `Sharapov_Cabinetsbay` module": https://github.com/cabinetsbay/site/issues/98 -->
<config>
	<preference for='Magento\CatalogWidget\Block\Product\ProductsList' type='Sharapov\Cabinetsbay\Block\Product\ProductsList' />
	<type name='Magento\Catalog\Model\Category\DataProvider'>
		<plugin
			name='Sharapov\Cabinetsbay\Plugin\Category\DataProvider'
			type='Sharapov\Cabinetsbay\Plugin\Category\DataProvider'
			sortOrder='1'
		/>
	</type>
</config>