<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cabinetsbay" translate="label" sortOrder="1">
            <label>CabinetsBay</label>
        </tab>
        <section id="cabinetsbay_settings" translate="label" sortOrder="1" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Settings</label>
            <tab>cabinetsbay</tab>
            <resource>Sharapov_Cabinetsbay::config</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="1"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Homepage Settings</label>
                <field
                        id="popular_products"
                        translate="label comment"
                        type="text"
                        sortOrder="2"
                        showInDefault="1"
                        showInWebsite="1"
                        showInStore="1">
                    <label>Popular products</label>
                    <comment>Up to 3 comma-separated category IDs to show on the home page</comment>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
